.sec4-crypto{
    height: 80vh;
}

.crypto-tit1{
    width: 236px; margin-top: 30px;
}
.crypto-title{
    display: flex;
}
.crypto-tit1 h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.crypto-tit1 p{
    margin-top: 20px;
}